<h1>Your Projects</h1>


<% if @projects != nil %>
	 <% @projects.each do |project| %>
	 	<p><b>Project:</b> <%= project.name %>s</p>
	 	<br />
	 	<h3>Tasks:</h3>

	 	<% @tasks = get_tasks(project.id) %>

	 	<% @tasks.each do |task| %>
	 		<p>TASK ID: <%= task.id %></p>
	 	<% end %>
	 	<%= link_to "Start Task", controller: 'dashboard', action: 'new_task'%>
	 	<% end %>
<% end %>
