<div id="header" class="container">
	<div id="title">
	<h1>ProjectTrack</h1>
	</div>
	<div id="login">
	<%= render partial: 'shared/login'%>
	</div>
	<p>Keep track of your projects and collaborations.</p>
</div>
