<h1>Project Tracker Home Page</h1>

<% if current_user %>
	<% if current_user.admin == true%>
	<%= link_to "Administrator Dashboard", controller: 'admin', action: 'index' %>
	<% else %>
	<%= link_to "Go To Your Project Dashboard", dashboard_path(current_user.id)%>
	<% end%>
<% end %>

