/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

#login {
  width: 200px;
  float: right; 
  border: 2px solid blue;
  text-align:center;
  overflow: auto;
  border-radius: 10px;
}

#title {
  //text-align:center;
  font-size: 20px;
  //float:left;
  //width: 1000px;
  overflow: auto
}

#header {
  overflow:auto;
  //width:100%;
  background:#6cf;
}

.jumbotron {
  background:#6cf;
  //border: 10px solid;
  border-radius: 8px;
}


#body {
  //background: #E9967A;
  background: #E0E0E0;
  font-family: 'Helvetica';
}

#footer {
  //position:absolute;
  bottom:0;
  //width:100%;
  height:30px;   /* Height of the footer */
  background:#6cf;
  border-radius: 10px;
}

#project {
  border: 2px solid blue;
  text-align:center;
  width:800px;
  border-radius: 10px;

}

#tasks {
  border: 2px solid blue;
  text-align:center;
}

#collaborators {
  border: 2px solid blue;
}

#collaborations {
  border: 2px solid blue;
  text-align:center;
}